<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Snake</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Snake.styles.css" asp-append-version="true" />
</head>
<body>

    <!-- Nav -->
    <nav>
        <img class="logo" src="~/assets/snakeLogo.svg" alt="Logo">
    </nav>

    <!-- Main -->
    <main>
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer>
        <div>
            &copy; 2024 - Snake - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
