@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lexend Zetta", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --background: #414141;
    --darkGreen: #3F4235;
    --mediumGreen: #5C614A;
    --lightGreen: #8D9572;
    --darkTan: #AFB792;
    --lightTan: #C7CFA7;
}

html {
    font-size: calc(100vw / 144);
}

.scoreLives {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

.scoreContainer {
    display: flex;
    align-items: center;
}

.score {
    font-size: 5.8rem;
    color: var(--lightTan);
    -webkit-text-stroke: 0.5rem var(--mediumGreen);
    text-stroke: 0.5rem var(--mediumGreen);
}

.frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outerBorder {
    background-color: var(--mediumGreen);
    border-radius: 3.2rem;
    width: 96rem;
    height: 57.6rem;
    margin-top: 2rem;
}

.innerBorder {
    background-color: var(--lightGreen);
    border: 0.8rem solid var(--darkTan);
    border-radius: 2.2rem;
    width: 93rem;
    height: 54.6rem;
}

.gridBorder {
    background-color: var(--darkTan);
    border: 0.8rem solid var(--mediumGreen);
    width: 86.2rem;
    height: 44.2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 0;
}