@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Londrina Solid", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --background: #4C5E4D;
    --darkGreen: #3F4235;
    --mediumGreen: #5C614A;
    --lightGreen: #8D9572;
    --darkTan: #AFB792;
    --lightTan: #C7CFA7;
}

/*html {
    font-size: calc(100vw / 144);
}*/


.outterFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background-color: var(--lightGreen);
    border: 8px solid var(--darkTan);
    border-radius: 22px;
    width: 798px;
    height: 570px;
}

.gridBorder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkTan);
    border: 8px solid var(--mediumGreen);
    width: 722px;
    height: 488px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 0;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 700px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.5)
}

.overlay span {
    font-size: 32px;
    font-weight: 900;
    color: var(--darkTan);
    letter-spacing: 5px;
}

.scoreLevel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 0px 38px;
}

.score, .level {
    font-size: 32px;
    font-weight: 900;
    color: var(--mediumGreen);
    letter-spacing: 1px;
}