@page
@model IndexModel
@{}



<!-- LEFT OFF: adding game start and end screens to ui-->


<div class="outterFrame">
    <div class="gridBorder frame">
        <div class="grid">
            @for (int r = 0; r < 12; r++)
            {
                @for (int c = 0; c < 20; c++)
                {
                    <img id="img_@r-@c" src="" />
                }
            }
        </div>
        <div class="overlay">
            <span>PRESS ANY KEY TO BEGIN</span>
        </div>
    </div>
    <div class="scoreLevel">
        <span class="score"></span>
        <span class="level">LEVEL: WORM</span>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>