@page
@model IndexModel
@{}

<div class="scoreLives">
    <div class="scoreContainer">
        <span class="score">SCORE</span>
        <span class="score"></span>
    </div>
</div>
<div class="outerBorder frame">
    <div class="innerBorder frame">
        <div class="gridBorder frame">
            <div class="grid">
                @for (int r = 0; r < 12; r++)
                {
                    @for (int c = 0; c < 20; c++)
                    {
                        <img id="img_@r-@c" src="" alt="ERROR"/>
                    }
                }
            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>