@page
@model IndexModel
@{
    @using Snake.Data;

    Dictionary<GridValue, string> gridValToImage = new()
    {
        { GridValue.Empty, "/assets/empty.svg" },
        { GridValue.Snake, "/assets/snake.svg" },
        { GridValue.Food, "/assets/food.svg" }
    };

    int rows = 12, cols = 24;

    GameState gameState = new GameState(rows, cols);
    GridValue gridVal = GridValue.Empty;


}

<div class="outerBorder frame">
    <div class="innerBorder frame">
        <div class="gridBorder frame">
            <div class="grid">
                @for (int r = 0; r < rows; r++)
                {
                    @for (int c = 0; c < cols; c++)
                    {
                        gridVal = gameState.Grid[r, c];
                        <img src=@gridValToImage[gridVal] alt="Image">
                    }
                }
            </div>
        </div>
    </div>
</div>

