@page
@model IndexModel
@{}

<div class="outterFrame">
    <div class="gridBorder frame">
        <div class="grid">
            @for (int r = 0; r < 12; r++)
            {
                @for (int c = 0; c < 20; c++)
                {
                    <img id="img_@r-@c" src="" alt="ERROR"/>
                }
            }
        </div>
    </div>
    <div class="scoreLevel">
        <span class="score">SCORE: 57</span>
        <span class="level">LEVEL: WORM</span>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>