@page
@model IndexModel
@{
}


<div class="scoreLives">
    <div class="scoreContainer">
        <span class="score">SCORE</span>
        <span class="score"></span>
    </div>
</div>
<div class="outerBorder frame">
    <div class="innerBorder frame">
        <div class="gridBorder frame">
            <div class="grid">
                @foreach (string img in @Model.DrawGrid())
                {
                    @Html.Raw(img)
                }
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("keydown", function(event) {
        if (event.key === "ArrowUp") {
            callCSharpMethod("Up");
        } else if (event.key === "ArrowDown") {
            callCSharpMethod("Down");
        } else if (event.key === "ArrowLeft") {
            callCSharpMethod("Left");
        } else if (event.key === "ArrowRight") {
            callCSharpMethod("Right");
        }
    });

    function callCSharpMethod(arrowDirection) {
        $.ajax({
            type: "POST",
            url: "@Url.Page("./", new { handler = "HandleArrowKeyPress" })",
            data: { arrowDirection: arrowDirection },
            success: function(response) {
                console.log(response);
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    }
</script>