/* _content/Snake/Pages/Shared/_Layout.cshtml.rz.scp.css */
nav[b-jslkyl608j] {
    background-color: var(--background);
    width: 100vw;
}

.logo[b-jslkyl608j] {
    margin-top: 2rem;
    margin-left: 7rem;
}

main[b-jslkyl608j] {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
}
